<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myhailov.mykola.fishpay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.login.BeginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.LoginActivity" />
        <activity android:name=".activities.login.RegistrationActivity" />
        <activity android:name=".activities.login.CheckOTPActivity" />
        <activity android:name=".activities.login.SetPasswordActivity" />
        <activity android:name=".activities.login.NextActivity" />
        <activity android:name=".activities.login.RestorePassActivity" />
        <activity android:name=".activities.drawer.ProfileSettingsActivity" />
        <activity android:name=".activities.drawer.ContactsActivity" />
        <activity android:name=".activities.drawer.PayRequestActivity" />
        <activity
            android:name=".activities.drawer.JointPurchasesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.drawer.MyGoodsActivity" />
        <activity android:name=".activities.drawer.CharityActivity" />
        <activity android:name=".activities.drawer.ActivityActivity" />
        <activity android:name=".activities.drawer.GroupSpendsActivity" />
        <activity android:name=".activities.profile.UserInfoActivity" />
        <activity
            android:name=".activities.profile.CardsActivity"
            android:theme="@style/AppTheme.NoActionBar.Dark"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.profile.ChangePasswordActivity" />
        <activity android:name=".activities.profile.NewPasswordActivity" />
        <activity android:name=".activities.profile.DeleteAccountActivity" />
        <activity android:name=".activities.profile.DelAccConfirmActivity" />
        <activity android:name=".activities.profile.ChangeLanguageActivity" />
        <activity android:name=".activities.contacts.ContactDetailsActivity" />
        <activity android:name=".activities.contacts.SearchContactActivity" />
        <activity android:name=".activities.pay_requests.ContactSelectActivity" />
        <activity android:name=".activities.pay_requests.CardSelectActivity" />
        <activity android:name=".activities.joint_purchases.AddJoinPurchaseActivity" />
        <activity
            android:name=".activities.joint_purchases.ChooseMembersActivity"
            android:theme="@style/AppTheme.NoActionBar.Dark" />
        <activity android:name=".activities.joint_purchases.DistributionActivity"
            android:theme="@style/AppTheme.NoActionBar.Dark"/>
        <activity android:name=".activities.joint_purchases.JointPurchaseDetailsActivity" />
        <activity android:name=".activities.joint_purchases.MembersPartActivity" />
        <activity android:name=".activities.drawer.ContactsPermissionsActivity" />

        <service android:name=".services.ContactsIntentService" />

        <activity android:name=".activities.goods.CreateGodsActivity" />
        <activity android:name=".activities.joint_purchases.CreateMemberActivity"></activity>
    </application>

</manifest>