<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.myhailov.mykola.fishpay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_new"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.login.BeginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.LoginActivity"/>
        <activity android:name=".activities.login.RegistrationActivity"/>
        <activity android:name=".activities.login.CheckOTPActivity"/>
        <activity android:name=".activities.login.SetPasswordActivity"/>
        <activity android:name=".activities.login.NextActivity"/>
        <activity android:name=".activities.login.RestorePassActivity"/>
        <activity android:name=".activities.ProfileSettingsActivity"/>
        <activity android:name=".activities.ContactsActivity"/>
        <activity android:name=".activities.PayRequestActivity"/>
        <activity
                android:name=".activities.JointPurchasesActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.MyGoodsActivity"/>
        <activity android:name=".activities.CharityActivity"/>
        <activity android:name=".activities.ActivityActivity"/>
        <activity android:name=".activities.GroupSpendsActivity"/>
        <activity android:name=".activities.profile.UserInfoActivity"/>
        <activity
                android:name=".activities.profile.CardsActivity"
                android:theme="@style/AppTheme.NoActionBar.Dark"
                android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activities.profile.ChangePasswordActivity"/>
        <activity android:name=".activities.profile.NewPasswordActivity"/>
        <activity android:name=".activities.profile.DeleteAccountActivity"/>
        <activity android:name=".activities.profile.DelAccConfirmActivity"/>
        <activity android:name=".activities.profile.ChangeLanguageActivity"/>
        <activity android:name=".activities.contacts.ContactDetailsActivity"/>
        <activity android:name=".activities.contacts.SearchContactActivity"/>
        <activity android:name=".activities.pay_requests.SelectContactsActivity"/>
        <activity
                android:name=".activities.joint_purchases.AddJoinPurchaseActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.joint_purchases.ChooseMembersActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.Dark"/>
        <activity
                android:name=".activities.joint_purchases.DistributionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.Dark"/>
        <activity
                android:name=".activities.joint_purchases.JointPurchaseDetailsActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.Dark"/>
        <activity
                android:name=".activities.joint_purchases.MembersPartActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.Dark"/>
        <activity android:name=".activities.ContactsPermissionsActivity"/>

        <service android:name=".services.ContactsIntentService"/>

        <activity
                android:name=".activities.goods.CreateGoodsActivity"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".activities.joint_purchases.CreateMemberActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.joint_purchases.PaymentMemberActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.pay_requests.CreatePayRequestActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.Dark"/>
        <activity android:name=".activities.pay_requests.SelectGoodsActivity"/>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="6fb06a65dbe94723a4626d1f5065cfecaf3c6bc4"/>

        <activity android:name=".activities.pay_requests.IncomingDetailsActivity"/>

        <service android:name=".services.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".activities.pay_requests.ConfirmPayRequestActivity"/>
        <activity android:name=".activities.group_spends.CreateGroupSpendActivity"/>
        <activity android:name=".activities.group_spends.SpendDetailActivity"/>
        <activity android:name=".activities.group_spends.ManualTransferActivity"/>
        <activity android:name=".activities.TransactionActivity"/>
        <activity android:name=".activities.pay_requests.BankWebActivity"/>
        <activity android:name=".activities.charity.CharityDetailsActivity"/>
        <activity android:name=".activities.charity.CharityListActivity"/>
        <activity android:name=".activities.charity.CharitySettingsActivity"/>
        <activity android:name=".activities.charity.CreateCharityActivity"/>
        <activity android:name=".activities.charity.CharityPreviewActivity"/>
        <activity android:name=".activities.charity.CharitySuccessActivity"/>
        <activity android:name=".activities.goods.GoodsPreviewActivity"/>
        <activity android:name=".activities.goods.GoodsFilterActivity"/>
        <activity android:name=".activities.goods.ReviewGoodsActivity"/>
        <activity android:name=".activities.group_spends.AddMoreSpendsActivity"/>
        <activity android:name=".activities.charity.CharityDonationActivity"/>
        <activity android:name=".activities.group_spends.MemberDetailsActivity"/>
        <activity android:name=".activities.pay_requests.SuccessPayRequestActivity">
        </activity>
        <activity android:name=".activities.pay_requests.OutComingPayRequestActivity">
        </activity>
        <activity android:name=".activities.pay_requests.GoodsDetailPayRequestActivity">
        </activity>
        <activity android:name=".activities.pay_requests.GoodsDetailOutInRequestActivity">
        </activity>
        <activity android:name=".activities.group_spends.DetailGroupSpendsActivity">
        </activity>
        <activity android:name=".activities.group_spends.ChooseMemberActivity">
        </activity>
        <activity android:name=".activities.group_spends.GroupSpendsTransitionSuccessActivity">
        </activity>
    </application>

</manifest>